* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-purple: #1A0841;
  --facts-purple: #4F426C;
  --bg-purple: #300967;
  --pink: #D70FCF;
  --white: #fff;
  --yellow: #FFE817;
  --body-font: "IBM Plex Sans", Verdana, Geneva, Tahoma, sans-serif;
  --play-font: "Play", Verdana, Geneva, Tahoma, sans-serif;
  --black: #000;
  --light-purple: #AFA8B8;
  --grey: #D9D9D9;
  --green: #36B43B;
  --blue: #0F9BD7;
}

body {
  font-family: var(--body-font);
  background-color: var(--dark-purple);
  color: var(--white);
  font-size: 1rem;
}

h1,
h2,
h3,
h4 {
  font-family: var(--play-font);
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

legend {
  font-size: 1.5rem;
  font-family: var(--play-font);
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

