footer {
  background-color: var(--yellow);
  width: 100%;
  padding: 0px 40px 10px;
  position: relative;
  margin-top: 8rem;
}

footer::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(-14vw + 1px);
  left: 0;
  border-right: 50vw solid var(--yellow);
  border-bottom: 7vw solid var(--yellow);
  border-left: 50vw solid transparent;
  border-top: 7vw solid transparent;
}

.footer-nav {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto 3rem;
  flex-wrap: wrap;
  font-family: var(--play-font);
  text-align: center;
}

.footer-nav li a {
  color: var(--black);
}

.some-icons {
  display: flex;
  gap: 3rem;
  margin: 0 auto 3rem;
}

footer p {
  color: var(--black);
  margin: 1rem auto 0;
  font-size: 0.7rem;
}

.robot-maskot {
  width: 80px;
  margin: 0 auto;
}




/* mediaqueries */

@media only screen and (min-width: 550px) {
  .footer-nav {
    flex-direction: row;
  }
}

@media only screen and (min-width: 800px ) {
  
.robot-maskot {
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 110px;
}

.footer-nav {
  gap: 5rem;
}

footer {
  margin-top: 12rem;
}

}

@media only screen and (min-width: 1200px ) {
  footer {
    margin-top: 16rem;
  }
}