footer {
  background-color: var(--yellow);
  width: 100%;
  padding: 0px 40px 10px;
  position: relative;
  margin-top: 100vw;
}

footer::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(-14vw + 1px);
  left: 0;
  border-right: 50vw solid var(--yellow);
  border-bottom: 7vw solid var(--yellow);
  border-left: 50vw solid transparent;
  border-top: 7vw solid transparent;
}

.footer-nav {
  text-transform: uppercase;
  display: flex;
  gap: 5rem;
  margin: 0 auto 3rem;
  flex-wrap: wrap;
  font-family: var(--play-font);
  padding: 0 3rem;
}

.footer-nav li a {
  color: var(--black);
}

.some-icons {
  display: flex;
  gap: 3rem;
  margin: 0 auto 3rem;
}

footer p {
  color: var(--black);
  margin: 0 auto;
}

.robot-maskot {
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 110px;
}

