header {
  background-color: var(--dark-purple);
  width: 100%;
  border-bottom: 1px solid var(--white);
  padding: 3rem 1rem 1rem;
}

.logo img {
  max-width: 250px;
  display: block;
}

.header-nav {
  text-transform: uppercase;
  display: flex;
  gap: 1rem;
}

.header-nav li {
  background-color: var(--yellow);
  position: relative;
  width: 140px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--play-font);
  font-size: 1.5rem;
  text-align: center;
}

.header-nav li a {
  display: block;
  padding: 30px 10px 10px;
  color: var(--black);
}

.header-nav li::before {
  content: "";
  display: block;
  position: absolute;
  top: -60px;
  border-right: 70px solid var(--yellow);
  border-bottom: 30px solid var(--yellow);
  border-left: 70px solid transparent;
  border-top: 30px solid transparent;
}