/* buttons */

.button {
  background-color: var(--pink);
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 12px 20px 3px;
  position: relative;
  color: var(--white);
  text-transform: uppercase;
  border: none;
  font-weight: 700;
} 

.button::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -24px;
  border-right: 75px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 75px solid var(--pink);
  border-top: 12px solid var(--pink);
}



/* END */

.content-box {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 3rem 1rem;
}



/* HOME PAGE */


/* hero-heading */

.hero-picture_home {
  background-image: url(/images/hero-picture_home-page.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
  height: 40rem;
  display: flex;
  justify-content: center;
  margin-bottom: 20rem;
}

.hero-picture_home::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.30;
}

.hero-heading_home {
  position: absolute;
  max-width: 60rem;
  border-style: solid;
  padding: 1.5rem 3rem 4rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  font-size: 2rem;
  bottom: -49%;
  display: flex;
  justify-content: center;
  margin: 2rem;
}

/* END */


/* highlight events home page */

.highlight {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.highlight_img {
  border-radius: 50%;
  max-width: 24rem;
  min-width: 18rem;
  width: 100%;
}

.highlight_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fact-aside {
  background-color: var(--facts-purple);
  padding: 4rem;
  margin-left: 2rem;
  min-width: 18rem;
}


/* event card */

.event-card {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  width: 100%;
  padding-bottom: 2.5rem;
}

.event-card_img {
  width: 100%;
  border: 1px solid var(--white);
}

.event-card_date,
.event-card_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
}

.event-card_date {
  justify-content: center;
  background-color: var(--light-purple);
  opacity: 0.6;
  max-width: 94px;
  max-height: 65px;
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 1rem 2rem;
  width: 100%;
}

.button_event-card {
  position: absolute;
  bottom: 0;
}

/* END */


/* grid container for event cards */

.grid-container,
.grid-container_highlight {
  display: grid;
  gap: 3rem;
}

/* END */


/* highlight section */

.grid-container_highlight {
  
}

.reverse {
  direction: rtl;
}


/* newsletter home page */

.newsletter {
  background-color: var(--grey);
  max-width: 30rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  color: var(--black);
  font-size: 1rem;
}

.newsletter_bg {
  background-color: var(--bg-purple);
  padding: 4rem 1rem;
}

input#email {
  height: 2rem;
}






/* media queries */

@media only screen and (min-width: 520px) {
  .newsletter {
    max-width: 40rem;
    font-size: 1.5rem;
  }

  input#email {
    height: 3rem;
  }
  
  }

@media only screen and (min-width: 600px) {
  .hero-heading_home {
    font-size: 2.5rem;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }

  .grid-container_highlight {
    grid-template-columns: auto;
    gap: 2rem;
  }

  

}

@media only screen and (min-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .grid-container_highlight {
    grid-template-columns: 1fr 1fr 20%;
    gap: 2rem;
  }

}




