.justify-csb {
  justify-content: space-between;
}

.align-ife {
  align-items: flex-end;
}

.flex-dir-col {
  flex-direction: column;
}

.flex {
  display: flex;
  gap: 10px;
}

.wrap {
  flex-wrap: wrap;
}

.margin-top {
  margin-top: 10rem;
}

.just-center {
  justify-content: center;
}

.text-center {
  text-align: center;
  padding: 0 1rem;
}

.info-box-container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.info-box {
  width: 29rem;
  width: 100%;
  justify-content: space-between;
}

.gal-cont-box {
  max-width: 640px;
}



@media only screen and (min-width: 800px) {
  .gal-cont-box {
    max-width: 1280px;
  }
}



