.justify-csb {
  justify-content: space-between;
}

.align-ife {
  align-items: flex-end;
}

.flex-dir-col {
  flex-direction: column;
}

.flex {
  display: flex;
  gap: 10px;
}

.just-center {
  justify-content: center;
}

.text-center {
  text-align: center;
  padding: 0 1rem;
}

.info-box-container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.info-box {
  width: 29rem;
  width: 100%;
  justify-content: space-between;
}



